/* Mobile Rsponsiveness */

@media only screen and (max-width: 1024px) {

    .navbar {
        justify-content: center;
    }

    .menu .menu-list a {
        display: none;
    }

    .hero .hero-title .first-title .mask {
        width: 100vw;
        gap: 1em;
    }

    .hero.hero-title.first-title.mask h1 {
        font-size: 3rem;
    }

    .hero .hero-title .second-title .mask h1 {
        font-size: 6rem;
    }

    .hero .hero-subtitle {
        gap: 0.5em;
    }

    .hero .hero-subtitle h3 {
        font-size: 2rem;
    }

    .hero .hero-subtitle h3.brushed-text span img {
        width: 200px;
    }
}

@media only screen and (max-width: 780px) {

    section.hero {
        min-height: 80vh;
        padding: 2em;
    }

    .hero .hero-title .first-title .mask {
        gap: 1em;
    }

    .hero .hero-title .first-title .mask h1 {
        font-size: 3rem;
    }

    .hero .hero-title .second-title .mask h1 {
        font-size: 3rem;
    }

    .hero .hero-subtitle {
        gap: 0.5em;
    }

    .hero .hero-subtitle h3 {
        font-size: 1rem;
    }

    .hero .hero-subtitle h3.brushed-text span img {
        width: 130px;
    }

    section.about {
        display: block;
        height: 220vh;
        flex-direction: column;
    }

    .horizontal-title h1 {
        border-right: 0;
        margin-left: 15px;
        border-left: 4px solid #000;
        padding-left: 0.3em;
    }

    .container {
        width: 100%;
        margin: 2em 0;
    }

    .vertical-content {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .vertical-content .col {
        width: 100%;
    }

    .col-left h1{
        font-size: 6em;
        margin-bottom: 3em;
    }

    .col-right{
        position: relative;
        z-index: 999;
        padding: 0 1em;
    }

    .vertical-item{
        border-radius: 20px;
    }

    .vertical-item:not(:last-child) {
        margin-bottom: 50px;
    }

    .video-container .first-three,
    .video-container .other-three {
        flex-direction: column;
        gap: 0em;
    }

    section.portfolio {
        height: 190vh;
    }

    .horizontal-content {
        display: flex;
        flex-direction: column-reverse;
        gap: 1em;
        width: 100%;
        justify-content: center;
    }

    .container-portfolio {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .horizontal-gallery {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 8px;
    }

    .horizontal-item.col-right {
        display: flex;
        justify-content: center;
        gap: 1em;
    }

    .horizontal-gallery .mask {
        width: 180px;
        height: 400px;
    }

    section.edited-videos {
        height: 450vh;
        overflow: hidden;
    }

    .work-content {
        padding: 0;
    }

    footer .footer-container {
        height: 100%;
        flex-direction: column;
    }

    footer .footer-container .social {
        align-items: center;
        flex-direction: column;
    }

    footer .footer-container .social .footer-logo {
        font-size: 4em;
    }

    footer .footer-container .social .footer-logo img {
        width: 100px;
    }

    footer .social .social-link {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .social .social-link a {
        font-size: 1.5em;
    }

    footer .footer-container .developer {
        font-size: 0.8em;
    }
    footer .social .social-link a{
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    .hero .hero-title .first-title .mask h1 {
        font-size: 3rem;
    }

    .hero .hero-title .second-title .mask h1 {
        font-size: 3rem;
    }

    section.about {
        display: block;
        height: 220vh;
        flex-direction: column;
    }

    .horizontal-title h1 {
        border-right: 0;
        margin-left: 15px;
        border-left: 4px solid #000;
        padding-left: 0.3em;
    }

    .container {
        width: 100%;
        margin: 2em 0;
    }

    .vertical-content {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .vertical-content .col {
        width: 100%;
    }

    .col-left h1{
        font-size: 6em;
        margin-bottom: 3em;
    }

    .col-right{
        position: relative;
        z-index: 999;
    }

    .vertical-item:not(:last-child) {
        margin-bottom: 50px;
    }
}